.container .main {
  grid-area: main;
}

.datah{
  display: grid;
  grid-template-columns: 1fr 1.2fr 1.4fr;
  grid-auto-flow: row;
  grid-template-areas:
    "user form form"
    "user form form"
    "footer footer footer";
}

.data {
  max-width: 96%;
  height: 84vh;
  background: #fff;
  margin-left: 30px;
  border-radius: 17px;
  border: 1px solid rgb(232, 232, 232);
  -webkit-box-shadow: 0px 0px 20px 3px rgba(222, 222, 222);
  -moz-box-shadow: 0px 0px 20px 3px rgba(222, 222, 222);
  box-shadow: 0px 0px 20px 3px rgba(222, 222, 222);
  padding: 30px;
}

.user {
  display: grid;
  grid-area: form;
  justify-content: flex-start;
  margin-left: 88px;
  margin-bottom: 19px;

  .icon-us{
    display: flex;
    justify-content: center;
    align-items: flex-start;
  
    .useri{
      margin-left: 7px;
      margin-top: 30px;
      font-size: 24px;

      .clientes{
        margin-left: 0;
        color: #146C94;
        font-size: 24px;
      }
    }
  }
}

.form {
  display: grid;
  grid-area: form;
  margin-top: 115px;
}

.create {
  width: 95%;
  display: flex;
  justify-content: flex-start;
  margin-left: 25px;
  align-items: center;
  flex-direction: row;
}

.one {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.span {
  width: 83%;

  .title {
    width: 83%;
    font-family: font;
    font-size: 16px;
    color: #161616;
  }

  .input {
    border: 1px solid rgb(232, 232, 232);
    width: 100%;
    height: 5vh;
    border-radius: 10px;
    margin-bottom: 22px;
    padding: 11px;
    outline: none;
    background: #dfebf0;
    color: #515151;
  }
}

.btn{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 190px;
  margin-top: 19px;
  width: 80%;

  .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #146C94;
    width: 28%;
    padding: 5px;
    height: 5vh;
    border-radius: 4px;
    color: #fff;
    font-family: font;
    text-align: center;
  }
}

.btn1 {
  width: 100%;
  height: 5vh;
  background: #146C94;
  border-radius: 4px;
  margin-bottom: 0;
  color: #fff;
}

.multi2 {
  grid-area: footer;
  margin-top: 39px;

  .imgn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  span {
    font-size: 22px;
    font-family: option;
    margin-right: 8px;
    color: #2c2c2c;
  }
}

@media (min-width: 1024px) {
  .datah {
    grid-template-columns: repeat(3, 1fr);
  }

  .user {
    margin-left: 88px;
    margin-bottom: 19px;
  }

  .form {
    margin-top: 115px;
  }

  .btn {
    margin-left: 190px;
    margin-top: 19px;
  }
}

/* Estilos para pantallas medianas */
@media (max-width: 1023px) {
  .datah {
    grid-template-columns: repeat(2, 1fr);
  }

  .user {
    margin-left: 50px;
    margin-bottom: 10px;
  }

  .form {
    margin-top: 50px;
  }

  .btn {
    margin-left: 100px;
    margin-top: 10px;
  }
}

/* Estilos para pantallas pequeñas */
@media (max-width: 767px) {
  .datah {
    grid-template-columns: 1.5fr;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-template-areas:
      "form form form"
      "form form form"
      "footer footer footer";
    min-height: 262vh;
    justify-content: center;
    align-items: center;
  }

  .user {
    display: flex;
    flex-direction: column;
    margin-bottom: 19px;
  
    .icon-us{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-bottom: 165px;
    
      .useri{
        display: flex;
        justify-content: center;
        margin-left: 7px;
        margin-top: 30px;
        font-size: 42px;
  
        .clientes{
          margin-left: 15px;
          color: #146C94;
          font-size: 42px;
        }
      }
    }
  }

  .span{
    width: 100%;
    margin: 0;
    min-height: 7vh;
    
    .title{
      font-size:  37px;
    }

    .input{
      min-height: 11vh;
      margin-bottom: 49px;
      font-size: 36px;
    }
  }

  .form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    min-width: 95%;
    min-height: 70vh;
  }

  .btns {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    min-width: 100%;
    min-height: 11vh;
    font-size: 36px;
    margin-left: 0;
    margin-top: 10px;
  }

  .btn1{
    min-height: 11vh;
    font-size: 36px;
    margin-bottom: 55px;
  }

  .btn{
    margin: 0;
    min-width: 95%;
  }

  .create {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }
  
  .one {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
  }

  .da{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 35px;
  }
}