.body{
  min-height: 100vh;
  background: #F6F1F1;

  .container {  
    display: grid;
    max-width: 110%;
    max-height: 100vh;
    grid-template-columns: 0.6fr 1.3fr 1.5fr;
    grid-auto-flow: row;
    grid-template-areas:
    "menu navbar navbar"
    "menu main main"
    "menu main main";
  }
}