.login {
  padding: 25px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../public/fondo-multishop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Logo2 {
  width: 150px;
  height: auto;
  margin: 20px;
}

.iconL {
  margin-bottom: 15px;
  margin-top: 25px;
}

.customer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-cusL {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.form-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28%;
  background: rgba(238, 238, 238, 0.12);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(0, 0, 0, 0.105);
  border-radius: 10px;
  height: 55vh;
}

.form-cusL2 {
  margin-top: 1em;
}

.cusL, .input-container {
  width: 100%;
  height: 40px;
  margin: 20px 0;
  border-radius: 9px;
  padding: 10px;
  border: 1px solid rgba(58, 108, 184, 0.44);
  background: rgba(163, 191, 225, 0.264);
  outline: none;
  border: 1px solid rgb(218, 218, 218);
  color: #515151;
}

.btn-cusL {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  margin-top: 20px;
  color: #fff;
  font-family: 'Arial', sans-serif; /* Reemplaza con la fuente deseada */
  background: #146C94;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-cusL:hover {
  background: #0e5070;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 20px 0;

  span {
    margin-top: 8px;
    font-size: 1.4rem;
  }
  
  .img {
    width: 8%;
    height: auto;
    margin-top: 10px;
    margin-right: 0;
  }
}


@media (max-width: 768px) {
  .form-cusL {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .form-cusL {
    width: 100%;
    padding: 15px;
  }

  .Logo2 {
    margin: 0;
    width: 120px;
  }

  .footer {
    margin: 10px 0;
    padding: 10px;

    span {
      font-size: 1.2rem;
    }
  
    .img {
      width: 35%;
      margin-right: 0;
    }
  }

  .form-login{
    width: 100%;
    height: 60vh;
  }
}