.navbar{
  grid-area: navbar;
  margin: 10px 0 10px 15px;
}

.nav{
  display: flex;
  align-items: center;
  width: 98%;
  background: rgba(238, 238, 238, 0.492);
  backdrop-filter: blur(3px);
  border-radius: 60px;
  border: 1px solid rgb(232, 232, 232);
  -webkit-box-shadow: 0px 0px 20px 2px rgba(222, 222, 222);
  -moz-box-shadow: 0px 0px 20px 2px rgba(222, 222, 222);
  box-shadow: 0px 0px 20px 2px rgba(222, 222, 222);
  height: 11%;
  padding: 20px;
  padding-left: 50px;
}

.button{
  width: 20%;
  background: none;
  display: flex;
  justify-content: flex-end;
  right: -78%;
}

.ad{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.adm{
  display: flex;
  align-items: center;
  margin-right: 1%;
}

.admin{
  width: 38%;
  height: 3.2vh;
  margin-left: 2%;
}

.name{
  margin-left: 60px;
  color: #2f2f2f;
  font-size: 16px;
  font-family: font;
}

.noti{
  width: 25%;
  height: 28vh;
}

.logout{
  color: #0c425c;
  background: rgba(45, 141, 185, 0.42);
  width: 10%;
  padding: 5px;
  border-radius: 35px;
}

@media (min-width: 1024px) {
  .nav{
    .button {
      width: 30%;
      background: none;
      display: flex;
      justify-content: flex-end;
      right: -71%;
    }
  }
}

@media (max-width: 767px){
  .button{
    width: 38%;
    right: -50%;
  }

  .navbar{ margin-bottom: 12px; }
  .name{ font-size: 28px; }

  .nav{
    height: 18vh;
    width: 97%;
    border-radius: 73px;
    padding: 0 35px 0 20px;
  }

  .adm{
    width: 20%;
    margin-right: 210px;
  }

  .admin{
    width: 39%;
    height: 7.3vh;
    margin-left: 25px;

    .svg{
      min-width: 15%;
      min-height: 15%;
      width: 15%;
      height: 15%;
    }
  }

  .menu-toggle{
    margin-left: 50px;
    font-size: 28px;
  }

  .logout{
    display: none;
  }
}