.profile {
  grid-area: user;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 19px 35px 19px;
  width: 100%;
  height: 67vh;
  border: 1px solid rgba(0, 0, 0, 0.130);
  border-radius: 10px;

  .us, .us-ad {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 62vh;
    padding: 8px;
    width: 90%;

    .form-us2{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .forms1 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 40vh;
    }

    .form-us {
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      width: 100%;
    }

    .forms {
      display: flex;
      align-content: flex-start;
      flex-direction: row;
      width: 100%;
      height: 46vh;

      .user1,
      .user2 {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .pro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 6px;

    .name,
    .del {
      display: flex;
      align-items: center;

      .del {
        flex-direction: row-reverse;
      }

      .us-pro {
        margin-left: 18px;
        font-size: 24px;
        font-family: font;
      }

      .delete {
        margin-left: 0;
        margin-right: 15px;
        font-family: option;
      }
    }
  }
}

.us2 {
  width: 70%;
  border: 1px solid rgb(232, 232, 232);
  height: 5.5vh;
  border-radius: 7px;
  margin-bottom: 18px;
  padding: 11px;
  outline: none;
  background: #dfebf0;
  color: #5b5a5a;
  font-size: 15px;
}

.us3 {
  width: 70%;
  border: 1px solid rgb(232, 232, 232);
  height: 5.5vh;
  border-radius: 7px;
  margin-bottom: 30px;
  padding: 11px;
  outline: none;
  background: #dfebf0;
  color: #5b5a5a;
  font-size: 15px;
}

.labels {
  font-family: option;
}

.labels2 {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  width: 70%;
  font-family: option;
}

.us1 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.use1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input-with-icon {
  position: relative;
}

.input-with-icon input {
  padding-right: 40px;
}

.input-with-icon .copy {
  position: absolute;
  right: 200px;
  top: 50%;
  transform: translateY(-88%);
  background: transparent;
  border: none;
  cursor: pointer;
}

.user1 {
  display: flex;
  align-items: center;
  width: 50%;
}

.users1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.user2 {
  display: flex;
  align-items: center;
  width: 50%;
}

.option {
  font-size: 15px;
  height: 5vh;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;

  .button1,
  .button2 {
    width: 50%;
  }

  .button1 {
    margin-left: 30px;
  }

  .buttons1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 18px;
  }

  .btn3,
  .btn2,
  .btns2,
  .btns3 {
    width: 20%;
    height: 4.5vh;
    border-radius: 18px;
  }

  .btn3, .btns3 {
    margin-right: 15px;
    background: #5b5a5a;
    color: #dfebf0;
  }

  .btn2, .btns2 {
    background: rgba(20, 108, 148, 0.87);
    color: #dfebf0;
    margin-right: 9px;
  }

}

.btn4 {
  width: 70%;
  height: 4.5vh;
  background: #146C94;
  border-radius: 4px;
  color: #fff;
  margin-bottom: 39px;
}

.btn5 {
  background: #146C94;
  color: #fff;
  height: 4.5vh;
  width: 29%;
  border-radius: 18px;
}

.b {
  margin-right: 9px;
}

.remove {
  margin-left: 15px;
}

.multi {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  .imgn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    font-size: 22px;
    font-family: option;
    margin-right: 8px;
    color: #2c2c2c;
  }

  .mul {
    width: 9%;
    height: 4.5vh;
    margin-right: 70px;
  }
}

@media (max-width: 767px) {
  .profile {
    height: 195vh;

    .us-ad{ 
      height: 130vh; 
    
      .form-us2{
        height: 110vh;
      }
    }

    .us {
      height: 160vh;

      .form-us, .form-us2 {
        height: 70vh;
      }
    }
  }

  .profile .pro {
    margin-bottom: 96px;

    .name .us-pro {
      font-size: 2.4rem;
    }

    .name {
      svg {
        width: 130px;
        height: 130px;
      }
    }

    .del {
      svg {
        width: 30px;
        height: 30px;
      }
    }

    .delete {
      font-size: 29px;
    }
  }

  .profile .us .forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .forms, .forms1 {
    .user1 {
      margin-top: 55px;
    }

    .user2 {
      margin-bottom: 65px;

      .input-with-icon .copy {
        position: absolute;
        right: 30px;
        top: 40%;
        transform: translateY(-88%);
        background: transparent;
        border: none;
        cursor: pointer;
      }

      svg {
        height: 30px;
        width: 30px;
      }
    }

    .users1{ margin-bottom: 45px; }

    .user1,
    .user2,
    .users1 {
      width: 80%;

      .us1, .use1 {
        font-size: 23px;

        .btn4 {
          width: 100%;
          height: 7.5vh;
          font-size: 22px;
        }

        .labels {
          font-size: 28px;
        }

        .labels2{
          font-size: 31px;
          width: 100%;
        }
      }

      .us2, .us3 {
        height: 9.9vh;
        padding: 4px;
        padding-left: 25px;
        width: 100%;
        font-size: 30px;
        margin-bottom: 45px;
      }
    }
  }

  .form-us .buttons{
    margin-top: 405px;
  }

  .form-us .buttons, .form-us2 .buttons {
    .buttons1{
      margin-top: 120px;

      .btns2, .btns3{
        width: 37%;
        height: 10vh;
        padding: 9px;
        font-size: 30px;
        height: 10vh;
      }
    }

    .button1, .buttons1 {

      .btn2,
      .btn3 {
        width: 45%;
        height: 11.5vh;
        border-radius: 20px;
        padding: 9px;
        font-size: 2rem;
      }
    }

    .button2 {
      .btn5 {
        width: 100%;
        padding: 9px;
        height: 11.5vh;
        font-size: 25px;
        border-radius: 20px;
      }
    }
  }
}