.reg {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 50px;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register {
  margin-left: 0;
  font-size: 24px;

  .usuarios {
    margin-left: 0;
    color: #146C94;
    font-size: 24px;
  }
}

.Logo {
  width: 10%;
  height: 7.5vh;
  margin-left: 20px;
}

.customer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.form-cus {
  width: 35%;
  height: 45vh;
}

.form-cus2 {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;

  .cus {
    width: 71%;
    height: 5vh;
    margin-bottom: 30px;
    border-radius: 9px;
    padding: 10px;
    padding-left: 18px;
    background: #dfebf0;
    outline: none;
    border: 1px solid rgb(218, 218, 218);
    color: #515151;
  }

  .cos{
    margin-top: 30px;
  }

  .btn-cus {
    background: #146C94;
    width: 71%;
    height: 5vh;
    border-radius: 4px;
    margin-top: 35px;
    color: #fff;
    font-family: option;
  }
}

.cust {
  width: 71%;
  height: 5vh;
  border-radius: 9px;
  padding: 10px;
  padding-left: 18px;
  background: #dfebf0;
  outline: none;
  border: 1px solid rgb(218, 218, 218);
  color: #515151;
}

.adminis {
  font-family: option;
  color: #125d80;
  cursor: pointer;
}

.multi {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  .imgn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    font-size: 22px;
    font-family: option;
    margin-right: 8px;
    color: #2c2c2c;
  }

  .mul {
    width: 9%;
    height: 6vh;
    margin-right: 70px;
  }
}

@media (max-width: 767px) {
  .customer {
    margin-top: 280px;
  }

  .form-cus {
    width: 86%;
    margin-top: 35px;
    margin-bottom: 495px;
  }

  .form-cus2 {
    .cus {
      height: 9.5vh;
      font-size: 28px;
    }

    .btn-cus {
      height: 9.5vh;
      font-size: 27px;
    }
  }

  .register {
    margin-left: 0;
    font-size: 34px;

    .usuarios {
      margin-left: 0;
      color: #146C94;
      font-size: 34px;
    }
  }
}