.form-admin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 45vh;
}

.spans {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 73%;

  .titles {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    width: 43%;
    font-family: font;
    font-size: 16px;
    color: #161616;
  }

  .input2 {
    border: 1px solid rgb(232, 232, 232);
    width: 43%;
    height: 5vh;
    border-radius: 10px;
    margin-bottom: 22px;
    padding: 11px;
    outline: none;
    background: #dfebf0;
    color: #515151;
  }
}

.btn-ad {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 19px;
  width: 80%;

  .btns {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #146C94;
    width: 28%;
    padding: 5px;
    height: 5vh;
    border-radius: 4px;
    color: #fff;
    font-family: font;
    text-align: center;
  }

}